@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;

    background: #f3d3d3;
    font-family: 'Lato', sans-serif;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

#main {
    background: #f3d3d3;
}

#landing {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #d2a0a4;
    background: #f3d3d3;
    z-index: 10;
}

h1 {
    margin: 0;
}





  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  #loader {
    position: absolute;
    left: 50%;
    top: 56.5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #loader .spinnerBlock {
    -webkit-animation: rotate 1400ms linear 600ms infinite;
            animation: rotate 1400ms linear 600ms infinite;
    -webkit-transform-origin: center;
            transform-origin: center;
    display: block;
    height: 70px;
    width: 70px;
  }
  #loader span {
    display: block;
    border: 2px solid #d2a0a4;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  #loader span:nth-child(1) {
    left: -18px;
    top: 10px;
  }
  #loader span:nth-child(2) {
    left: -18px;
    top: -10px;
  }
  #loader span:nth-child(3) {
    left: 0;
    top: -18px;
  }
  #loader span:nth-child(4) {
    left: 18px;
    top: -10px;
  }
  #loader span:nth-child(5) {
    left: 18px;
    top: 10px;
  }
  #loader span:nth-child(6) {
    left: 0;
    top: 18px;
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  








#landingButton {
    margin: 0;
    margin-top: 60px;
    font-size: 18px;
    cursor: pointer;

    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.pulse-button {
    display: block;
    width: 120px;
    height: 120px;
    font-size: 1.3em;
    font-weight: light;
    text-transform: uppercase;
    text-align: center;
    line-height: 120px;
    color: #f3d3d3;
    border: none;
    border-radius: 50%;
    background: #d2a0a4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(210, 160, 164, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}
  
  @-webkit-keyframes pulse {
    0% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    70% {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
    100% {
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.controls {
    margin-top: 15px;
    margin-right: 15px;
    position: absolute;
    right: 0;
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

button:first-of-type {
    margin: 0;
}

button:last-of-type {
    margin-right: 20px
}

img {
    opacity: 0.5;
    padding: 10px;
}

img:hover, input[type='range']:hover {
    cursor: pointer;
    opacity: 1;
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    } 
input[type='range'] {
width: 100px;
height: 30px;
background: transparent;
font-size: 12px;
opacity: 0.5;
outline: none;
transition: all 0.3s ease;
}
input[type='range']::-webkit-slider-runnable-track {
margin: 0 0.75em;
border: none;
padding: 0 0.125em;
width: 20em;
height: 0.25em;
border-radius: 0.125em;
background: #d2a0a4;
}
input[type='range']::-moz-range-track {
border: none;
padding: 0 0.125em;
width: 20em;
height: 0.25em;
border-radius: 0.125em;
background: #d2a0a4;
}
input[type='range']::-ms-track {
margin: 0 0.75em;
border: none;
padding: 0 0.125em;
width: 20em;
height: 0.25em;
border-radius: 0.125em;
background: #d2a0a4;
color: transparent;
}
input[type='range']::-webkit-slider-thumb {
margin-top: -0.625em;
box-sizing: border-box;
border: solid 0.25em #f3d3d3;
width: 1.5em;
height: 1.5em;
border-radius: 50%;
background: #d2a0a4;
transition: .3s;
}
input[type='range']::-moz-range-thumb {
box-sizing: border-box;
border: solid 0.25em #f3d3d3;
width: 1.5em;
height: 1.5em;
border-radius: 50%;
background: #d2a0a4;
transition: .3s;
cursor: ew-resize;
}
input[type='range']::-ms-thumb {
box-sizing: border-box;
border: solid 0.25em #f3d3d3;
width: 1.5em;
height: 1.5em;
border-radius: 50%;
background: #5c5c5c;
transition: .3s;
}

.author {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #d2a0a4;
    font-size: 12px;
    z-index: 10;
}

.separator {
    margin: 0 6px;
}

a {
    color: #d2a0a4;
}
